<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-EasingAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10F15E431BD7202500FEAE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F15E571BD7202500FEAE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F15E621BD7202500FEAE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
